.top-right {
  position: absolute;
  top: 80px;
  right: 20px; 
}

.logout-button {
  background-color: #be4444;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #f5c6c6;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-left: 30px; 
}

.background-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 45%; 
  background-size: cover; 
  background-position: center;
  z-index: -2;
  background-color: rgb(215, 157, 135);
}

.profile-picture-container {
  position: absolute;
  left: 150px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.change-picture-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #050000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.username {
  margin-top: 170px;
  text-align: center;
}
.top-right {
  position: absolute;
  top: 80px;
  right: 0px;
}

.count-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%; 
  margin-top: 20px;
  text-align: center;
  gap: 30px;
  margin-left: 60px;
}

.count-box {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; 
  background-color: white;
  margin: 0 7px; 
}

.count-box h2 {
  margin-bottom: 10px;
  font-size: 12px;
}

.count-box p {
  font-size: 20px; 
  font-weight: bold;
}

.reset-picture-btn {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 70%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;  /* Ensure it's above other elements */
}


.profile-picture-container img:not([src*="defaultpfp2"]) + .reset-picture-btn {
  display: flex;
}




